@using System.Runtime.CompilerServices
@using System.Text
@using CSD480Group3Capstone001.Controllers

@model IEnumerable<CSD480Group3Capstone001.Models.RepairHistory>


<div class="row accordion mt-2" id="repairAccordion">
        @{
            int index = 0;
        }
        @foreach (var repair in Model)
        {
            <div class="col-11 ml-auto mr-auto">
                <div class="card-header row border border-dark rounded p-0 mt-2" id="@GetAccordionId("rheader",index)">
                    <div class="col-12 d-flex">
                        <div class="p-2 text-center">
                            <span class="font-weight-bold p-2">Contractor Id</span>
                            <br />#@repair.ContractorID
                        </div>
                        <div class="p-2 text-center">
                            <span class="font-weight-bold">Unit Id</span>
                            <br />@repair.UnitID
                        </div>
                        <div class="p-2 ml-auto align-self-center">
                            <button id="@GetAccordionId("rexpand",index)" class="btn-sm border border-dark btn-primary d-inline" type="button" aria-expanded="false" data-toggle="collapse" data-target="#@GetAccordionId("rbody",index),@GetAccordionId("rexpand",index),@GetAccordionId("rhide",index)" aria-controls="@GetAccordionId("rbody",index)">Expand</button>
                        </div>
                    </div>
                </div>
                <div id="@GetAccordionId("rbody",index)" class="collapse" aria-labelledby="@GetAccordionId("rheader",index)" data-parent="#repairAccordion">
                    <div class="card-body">
                        @await Html.PartialAsync("~/Views/ContractorsPage/_DisplayRepairHistory.cshtml", repair,new ViewDataDictionary(ViewData))
                    </div>
                </div>
            </div>
            index++;
        }
    </div>





@functions{
    private string GetAccordionId(string str,int num)
    {
        return str + num.ToString();
    }

    private void DisplaySearchedCat()
    {
        List<string> searchAreas = (List<string>)ViewData["searchAreas"];
        string searchBy = (string)ViewData["searchBy"];

        if (!string.IsNullOrEmpty(searchBy))
        {
            if (!searchBy.Equals(searchAreas[0]))//Do nothing Name is always displayed
            {
                

            }else if (searchBy.Equals(searchAreas[1]))//License Plate
            {

            }
        }
    }
}