@using CSD480Group3Capstone001.Controllers

@model CSD480Group3Capstone001.Views.ContractorsPage.Contractor_RepairHistory

@{
    ViewData["Title"] = "ContractorsPage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<form class="row col-12 ml-auto mr-auto p-0" asp-controller="ContractorsPage" asp-action="Index">
        <div class="col-lg-6 border-dark mt-5">
            <h2 class="text-dark">Contractor Look Up</h2>
            <div class="border border-dark rounded p-2 pt-3">

                <div class="col-12 d-flex p-0 flex-wrap">
                    <button type="submit" class="btn-sm border border-dark btn-primary ml-1 mr-1 mb-1">Search</button>
                    @{
                        if (!string.IsNullOrEmpty((string)ViewData["contractSearchString"]))
                        {
                            <input type="search" name="contractSearchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="@ViewData["contractSearchString"]" />
                        }
                        else
                        {
                            <input type="search" name="contractSearchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="" />
                        }
                    }

                    <div class="flex-grow-1 ml-1 mr-1 mb-1">
                        <select class="custom-select border-dark" name="contractSearchBy" id="searchForSelect">
                            @{

                                List<string> contractSearchAreas = ContractorsPageController.GetContractorSearchAreas();

                                string contractSearchBy = (string)ViewData["contractSearchBy"];
                                if (!string.IsNullOrEmpty(contractSearchBy))
                                {
                                    if (contractSearchAreas.Contains(contractSearchBy))
                                    {
                                        <option selected value="@contractSearchBy">@contractSearchBy</option>
                                        contractSearchAreas.Remove(contractSearchBy);
                                    }
                                }

                                foreach (string str in contractSearchAreas)
                                {
                                    <option value="@str">@str</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <hr class="border-dark" />
                @{
                    if (Model.Contractors.Any())
                    {
                        @await Html.PartialAsync("~/Views/ContractorsPage/_ContractorAccordion.cshtml", Model.Contractors, new ViewDataDictionary(ViewData));
                    }
                    else
                    {
                        <p>No Contractors match the search parameters</p>
                    }
                }
            </div>
        </div>
        <div class="col-lg-6 border-dark mt-5">
            <h2 class="text-dark">Work Order Look Up</h2>
            <div class="border border-dark rounded p-2 pt-3">

                <div class="col-12 d-flex p-0 flex-wrap">
                    <button type="submit" class="btn-sm border border-dark btn-primary ml-1 mr-1 mb-1">Search</button>
                    @{
                        if (!string.IsNullOrEmpty((string)ViewData["repairSearchString"]))
                        {
                            <input type="search" name="repairSearchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="@ViewData["repairSearchString"]" />
                        }
                        else
                        {
                            <input type="search" name="repairSearchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="" />
                        }
                    }

                    <div class="flex-grow-1 ml-1 mr-1 mb-1">
                        <select class="custom-select border-dark" name="repairSearchBy" id="searchForSelect">
                            @{

                                List<string> repairSearchAreas = ContractorsPageController.GetRepairSearchAreas();

                                string repairSearchBy = (string)ViewData["repairSearchBy"];
                                if (!string.IsNullOrEmpty(repairSearchBy))
                                {
                                    if (repairSearchAreas.Contains(repairSearchBy))
                                    {
                                        <option selected value="@repairSearchBy">@repairSearchBy</option>
                                        repairSearchAreas.Remove(repairSearchBy);
                                    }
                                }

                                foreach (string str in repairSearchAreas)
                                {
                                    <option value="@str">@str</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <hr class="border-dark" />
                @{
                    if (Model.RepairHistory.Any())
                    {
                        @await Html.PartialAsync("~/Views/ContractorsPage/_RepairHistoryAccordion.cshtml", Model.RepairHistory, new ViewDataDictionary(ViewData));
                    }
                    else
                    {
                        <p>No Repairs match the search parameters</p>
                    }
                }
            </div>
        </div>
</form>
