@model CSD480Group3Capstone001.Models.Tenant


<div>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName @Model.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            Moved In Date
        </dt>
        <dd class="col-sm-10">
            @Model.TenantUnits.OrderByDescending(tu=>tu.MovedOutDate).Select(tu=>tu.MovedInDate).First()
        </dd>
        <dt class="col-sm-2">
            Moved Out Date
        </dt>
        <dd class="col-sm-10">
            @Model.TenantUnits.OrderByDescending(tu => tu.MovedOutDate).Select(tu => tu.MovedOutDate).First()
        </dd>
        @{
            <dt class="col-sm-2">
               License Plates
            </dt>
            <dd class="col-sm-10">

                @foreach (var vehicle in Model.Vehicles)
                {
                    <p>@vehicle.LicensePlate </p>
                }

            </dd>
            <dt class="col-sm-2">
                Addresses
            </dt>
            <dd class="col-sm-10">
                @foreach (var tu in Model.TenantUnits)
                {
                <span>Unit @tu.unit.UnitNumber @tu.unit.Building.Address @tu.unit.Building.City @tu.unit.Building.State @tu.unit.Building.Zip </span>
                }
            </dd>

        }
    </dl>
</div>



