@using System.Runtime.CompilerServices
@using System.Text
@using CSD480Group3Capstone001.Controllers

@model IEnumerable<CSD480Group3Capstone001.Models.Tenant>


<div class="row accordion mt-2" id="tenantAccordion">
        @{
            int index = 0;
        }
        @foreach (var tenant in Model)
        {
            <div class="col-11 ml-auto mr-auto">
                <div class="card-header row border border-dark rounded p-0 mt-2" id="@GetAccordionId("header",index)">
                    <div class="col-12 d-flex">
                        <div class="p-2 text-center">
                            <span class="font-weight-bold">Tenant Name</span>
                            <br />@tenant.FirstName @tenant.LastName
                        </div>
                        <div class="p-2 text-center d-none d-sm-block">
                            <span class="font-weight-bold">Move In Date</span>
                            <br />@tenant.TenantUnits.OrderByDescending(tu => tu.MovedOutDate).Select(tu => tu.MovedInDate).First().Date.ToString("MM/dd/yyyy")
                        </div>
                        <div class="p-2 text-center">
                            <span class="font-weight-bold">Phone Number</span>
                            <br />@tenant.PhoneNumber
                        </div>
                        <div class="p-2 text-center d-none d-sm-block">
                            <span class="font-weight-bold">Move Out Date</span>
                            <br />@tenant.TenantUnits.OrderByDescending(tu => tu.MovedOutDate).Select(tu => tu.MovedOutDate).First().Date.ToString("MM/dd/yyyy")
                        </div>
                        <div class="p-2 ml-auto align-self-center">
                            <button id="@GetAccordionId("expand",index)" class="btn-sm border border-dark btn-primary d-inline" type="button" aria-expanded="false" data-toggle="collapse" data-target="#@GetAccordionId("body",index),@GetAccordionId("expand",index),@GetAccordionId("hide",index)" aria-controls="@GetAccordionId("body",index)">Expand</button>
                        </div>
                    </div>
                </div>
                <div id="@GetAccordionId("body",index)" class="collapse" aria-labelledby="@GetAccordionId("header",index)" data-parent="#tenantAccordion">
                    <div class="card-body">
                        @await Html.PartialAsync("~/Views/Tenants/_DisplayTenant.cshtml", tenant,new ViewDataDictionary(ViewData))
                    </div>
                </div>
            </div>
            index++;
        }
    </div>





@functions{
    private string GetAccordionId(string str,int num)
    {
        return str + num.ToString();
    }

    private void DisplaySearchedCat()
    {
        List<string> searchAreas = (List<string>)ViewData["searchAreas"];
        string searchBy = (string)ViewData["searchBy"];

        if (!string.IsNullOrEmpty(searchBy))
        {
            if (!searchBy.Equals(searchAreas[0]))//Do nothing Name is always displayed
            {
                

            }else if (searchBy.Equals(searchAreas[1]))//License Plate
            {

            }
        }
    }
}