@model CSD480Group3Capstone001.Models.Building

<div>
    @{
        //TODO: this was just the fastest way to display some of the information that is availble from our building model at this point. this should be cleaned up and possibly more data displayed
    } 
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt class="col-sm-2">
            Tax Parcel
        </dt>
        <dd class="col-sm-10">
            Number: @Model.TaxParcelNumber
        </dd>

        @{
            <dt class="col-sm-2">
                Tenants
            </dt>
            <dd class="col-sm-10">
                @foreach (Unit u in Model.Units)
                    {
                        foreach (var tu in u.TenantUnits.Where(tu=>DateTime.Compare(tu.MovedOutDate,DateTime.Now) > 0))
                        {
                            <p>@tu.tenant.FirstName @tu.tenant.LastName</p>
                        }
                    }
            </dd>
            <dt class="col-sm-2">
                Vehicles
            </dt>
            <dd class="col-sm-10">
                @foreach (Unit u in Model.Units)
                    {
                        foreach (TenantUnit tu in u.TenantUnits.Where(tu=>DateTime.Compare(tu.MovedOutDate,DateTime.Now) > 0))
                        {
                            foreach (Vehicle v in tu.tenant.Vehicles)
                            {
                                <p>@v.Make @v.Model plate number: @v.LicensePlate</p>
                            }
                        }
                    }
            </dd>
        }
    </dl>
</div>

