@model CSD480Group3Capstone001.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SqrFootage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SqrFootage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building.BuildingID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
