@model IEnumerable<CSD480Group3Capstone001.Models.Unit>

@{
    ViewData["Title"] = "UnitsIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Units</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SqrFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqrFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.BuildingID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
