@using CSD480Group3Capstone001.Controllers

@model IEnumerable<CSD480Group3Capstone001.Models.Unit>

@{
    ViewData["Title"] = "Units";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    /*
     *
     *
     */

}



<div class="border border-dark rounded p-2 pt-3">
    <form class="row col-12 ml-auto mr-auto p-0" asp-controller="Units" asp-action="Search">
        <div class="col-12 d-flex p-0 flex-wrap">
            <button type="submit" class="btn-sm border border-dark btn-primary ml-1 mr-1 mb-1">Search</button>
            @{
                if (!string.IsNullOrEmpty((string)ViewData["searchString"]))
                {
                    <input type="search" name="searchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="@ViewData["searchString"]" />
                }
                else
                {
                    <input type="search" name="searchString" class="pl-2 rounded border border-dark flex-grow-1 ml-1 mr-1 mb-1" value="" />
                }
            }

            <div class="flex-grow-1 ml-1 mr-1 mb-1">
                <select class="custom-select border-dark" name="searchBy" id="searchForSelect">
                    @{

                        List<string> searchAreas = UnitsController.GetSearchAreas();

                        string searchBy = (string)ViewData["searchBy"];
                        if (!string.IsNullOrEmpty(searchBy))
                        {
                            if (searchAreas.Contains(searchBy))
                            {
                                <option selected value="@searchBy">@searchBy</option>
                                searchAreas.Remove(searchBy);
                            }
                        }

                        foreach (string str in searchAreas)
                        {
                            <option value="@str">@str</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
    <hr class="border-dark" />
    @{
        if (Model.Any())
        {
            @await Html.PartialAsync("~/Views/Units/_UnitAccordion.cshtml", Model, new ViewDataDictionary(ViewData));
        }
        else
        {
            <p>No Tenants match the search parameters</p>
        }
    }
</div>





