@model IEnumerable<CSD480Group3Capstone001.Models.Contractor>

@{
    ViewData["Title"] = "ContractorsIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Contractors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractorID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContractorID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContractorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
